@import "../variables";

.forms
	display: flex
	flex-direction: column
	box-shadow: 1px 2px 3px 0px rgba($black, .10)
	border-radius: 6px
	min-height: 300px
	border: 1px solid darken($default_color, 1%)
	width: 400px
	color: $label_text_color
	@media (max-width: 450px)
		width: 90%
	&.full
		height: 100%
		width: 100%
	&.accent
		background-color: $accent_color
	.header
		border-bottom: 1px solid darken($default_color, 1%)
		vertical-align: middle
		color: $text_color
		flex: 0 1 auto
		height: 50px
		.title
			flex: 1 0 auto
			padding: 0 30px
			font-size: 14px
			font-weight: 700
			letter-spacing: 1px
			line-height: 50px
	.content
		padding: 30px
		padding-bottom: 0
		font-size: 14px
		flex: 1 0 auto
		.description
			font-size: 12px
			margin-bottom: 10px
	.footer
		padding: 20px 30px
		flex: 0 1 auto
		text-align: center
