@import "sass/variables";

.panel
    flex: 1 1 auto
    align-self: stretch

    /* Background: */
    background: $white
    box-shadow: 1px 2px 3px 0 rgba($black, .10)
    border-radius: 6px
    padding: 18px
    margin: 6px

    // align flex item
    &.align-start
        align-self: flex-start
    &.align-end
        align-self: flex-end
    &.align-center
        align-self: center
    &.align-baseline
        align-self: baseline
    &.align-stretch
        align-self: stretch
