@import "sass/variables"

.input
    display: flex
    flex-direction: column
    margin-bottom: 11px
    margin-top: 10px
    margin-right: 10px
    &:last-child
        margin-bottom: 0
        margin-right: 0
    input
        border: 2px solid $border_color
        border-radius: 6px
        padding: 0 18px
        width: auto
        height: 42px
        background: $white
        color: $input_color
        font-size: 14px
        outline: none
        appearance: none
        &:disabled
            background: $disabled_color
            cursor: not-allowed
        &:required
            border-color: $required_color
        &.error
            border-color: $error_color
        &.valid
            border-color: $success_color
    textarea
        @extend input
        height: 126px
        resize: vertical
        overflow: auto
        padding: 4px 18px
    .label
        margin-bottom: 10px
        padding-left: 2px
        font-size: 14px
        color: $label_text_color
        letter-spacing: 0px
        line-height: 14px
