@import "sass/variables";

.radio
	position: relative
	display: inline-block
	cursor: pointer
	font-size: 14px
	padding-left: 34px
	padding-right: 10px
	line-height: 28px
	outline: none
	.indicator
		position: absolute
		top: 2px
		left: 0
		width: 24px
		height: 24px
		background: $checkbox_background_color
		border-radius: 100px
		box-shadow: inset 0px 1px 0px 0px rgba($black, 0.3)
	input
		position: absolute
		z-index: -1
		opacity: 0
		left: 3px
		top: 4px
		&:checked
			cursor: pointer
			~.indicator
				background: $active_color
				transition: all .4s
				&:after
					position: absolute
					content: ''
					top: 25%
					left: 25%
					width: 12px
					height: 12px
					border-radius: 100%
					background: $white
					margin: 0
					padding: 0
