@import "sass/variables";
@import "sass/contents";

.checkbox
	position: relative
	cursor: pointer
	user-select: none
	font-size: 14px
	padding-left: 26px
	padding-right: 4px
	&.inline
		display: inline-flex
	.indicator
		position: absolute
		top: 2px
		left: 0
		width: 16px
		height: 16px
		background: $checkbox_background_color
		border-radius: 3px
		border: 1px solid darken($checkbox_background_color, 2%)
	input
		position: absolute
		z-index: -1
		opacity: 0
		left: 3px
		top: 4px
		&:checked
			cursor: pointer
			~.indicator
				background: $active_color
				transition: all .4s
				&:after
					content: $checked_arrow
